body {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    line-height: 34px;
    background: #ffffff;
  }
  
  * {
    box-sizing: border-box;
  }

 h1{
     text-align: center;
     font-size: 35px
     
 } 